@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url(fonts/libel-suit-rg.otf) format(opentype);
}
@font-face {
    font-family: 'texto';
    src: url(fonts/Louis\ George\ Cafe.ttf) format(truetype);
}
@font-face {
    font-family: 'subtitulo';
    src: url(fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf) format(opentype);
}

*{

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(147, 138, 138);
    background-image: linear-gradient(to bottom ,rgb(147, 138, 138), rgb(214, 213, 213)  );
    background-attachment: fixed;
    margin: 0%
}
header{


    background-image: linear-gradient(to bottom,#00AACC,#3498ac, #01353e);
    border: 5px solid rgb(0, 0, 0);
   

}
h1 {

    font: bold 60px 'titulo', sans-serif;
    letter-spacing: 3px;
    margin: 0px;
    text-align: center;
    padding: 30px 1px 8px 1px;
    text-shadow: -3px 14px 18px #383737a2
    

}
.cargo {

    font: normal 24px 'texto', sans-serif;
    text-align: center;
    padding: 10px 0px 30px;
    color: rgb(0, 63, 84);
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.56);
    

}
#descrição {    

    font: normal 18px 'texto', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 6px 5px 12px rgba(0, 0, 0, 0.632);


}
h2, h3 {

    padding-left: 15px;
}
nav {

    padding: 15px 10px;
}
nav > a {

    font: normal 18px 'texto', sans-serif;
    color: rgb(168, 169, 195);
    padding: 7px 15px 7px 15px;
    margin: auto;
    transform: scale(1.1);
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.842) 3px -4px 11px; 
    transition: .3s;
    
    
    
}
nav > a:hover {

    background-color: rgba(102, 102, 102, 0.405);
    border-radius: 5px;
    transition: .3s;

    

}
main {

    background-color: white;
    height: auto;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    border-top: 0px;
    border-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
#primeiro{
    
    
    display: flex;
    align-items: center;
    
    
}
#subtitulo {

    font: normal 40px 'subtitulo', sans-serif;
    background-image: linear-gradient(to right, rgba(32, 123, 251, 0.282), transparent);
    margin: 0%;
    margin-left: 20px;
    margin-top: 10px;
    min-width: 300px;
    max-width: 1200px;
    border-radius: 10px;
    
}
#objetivo, #formação, #cursos, #habilidades, #projetos, #contato {

    font: normal 35px 'subtitulo';
    background-image: linear-gradient(to right, rgba(32, 123, 251, 0.282), transparent);
    margin: 0%;
    margin-left: 20px;
    margin-top: 10px;
    min-width: 300px;
    max-width: 1200px;
    border-radius: 10px;

}
.foto-perfil {

    padding: 20px 0px 20px 10px;

}
.perfil {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font: normal 17px 'texto';
    padding-left: 20px;
    padding-right: 40px;
    text-align: justify;
    gap: 20px;

}
.text {
    
    font: normal 17px 'texto';
    padding: 20px 40px 20px 50px;
    text-align: justify;
    list-style-type: disc;
    
    
}
.flex {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
.alinhar-uni, .alinhar-cmc {

    display: flex;
    align-items: center;
    margin: 0%;
    padding-top: 35px;
    padding-bottom: 0%;
    padding-bottom: 10px;
    
}
.logo {

    box-shadow: 10px -10px 20px #9191911f;
    padding: 0px 0px 0px 0px;

}
.espaço {

    padding-right: 30px;
}
.ano {

    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
    text-decoration: underline;
}
.lista > div {


    padding-bottom: 12px;
    font-weight: normal;
}
.text strong {

    font-size: 20px;
    margin-top: 50px;
}
.margin{

    margin: 20px 0px;
}
.skills {

    margin-top: 15px;
}
.skills li {

    margin: 10px 30px ;
}
.title-skills {

    font-size: 10px;
}
.title {

    font-size: 22px;
    font-weight: bold;
    
}
.flex-projeto p{

    font: normal 18px 'texto';
    padding: 0px 30px 20px;
    text-align: justify;
    

}
.flex-projeto .link {

    padding-left: 5px;
}
.projects {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin: 80px 40px 20px 60px;


}
.projects img {

    width: 450px;
    height: 240px;
    border: 2px solid black;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.521);
    cursor: pointer;
    transition: .5s ease;

}
.projects img:hover {
    
    transform: scale(1.05);
    transition: .5s ease;
}
.flex-projeto {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

}
.flex-projeto  h3 {

    font-size: 25px;
    padding-bottom: 20px;
}
.flex-projeto span {

    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
}

.repositorio {

    font-size: 20px;
    margin: 0%;
    color: rgb(111, 111, 138)   ;
    
}
.link {

    text-decoration: none;
    font-weight: bold;
    color: #0029e2;
}
.link:hover {

    text-decoration: underline;
}
.courses {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin: 0px 80px 40px 40px;
}
.img-onebitcode {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;

}

.courses .img-onebitcode img {

    width: 400px;
    height: 280px;
    display: flex;
    justify-content: space-between;
}
.paragrafos {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}
.paragrafos p {
    
    text-align: justify;
    font-size: 18px;
}
.text-onebitcode {

    gap: 20px;
    
}
.text > h3 {

    font-size: 24px;
    margin: 30px 0px;

}
.courses img {

    width: 400px;
    height: 250px;
    border: 3px solid rgb(159, 159, 255);
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.623);
    transition: 1s ease;

}
.courses img:hover {

    transition: 1s ease;
    transform: scale(1.8);
    margin: auto;
}
.paragrafos li {

    padding: 2px;
}
.img-arquitetura img {

    width: 350px;
}
.text-redes {

    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}
.redes-sociais > li {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    font-size: 20px;
    padding: 20px;

}
.redes-sociais > li > p {

    font-weight: bold;
}
.redes-sociais .link {

    color: blue;
}
.imagem {

    padding-right: 7px;

}
.sem-linha {

    color: #000000c4;
    text-decoration: none;
}
.sem-linha:hover {

    text-decoration: underline;
}
footer {
    font: normal 16px 'texto';
    color: white;
    background-image: linear-gradient(to bottom,#00AACC,#3498ac, #01353e);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
}
footer a {

    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer a:hover {

    text-decoration: underline;
}
.modal {
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
}
.head-popUp {

    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-content {

    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    background-color: rgb(42, 42, 86);
    margin: auto;
    width: 80%;
    gap: 20px;
    height: auto;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border: none;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    font: normal 22px 'texto', sans-serif;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.563) 1px 2px 8px;
    

}
.alerta img {
    margin-top: 20px;
    width: 35px;
    height: 35px;
}
.fechar {
    margin-left: auto;
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.fechar:hover {
    color: #454E63;
    transition: 0.2s;
}
#ok {

    background-color: #454e60;
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin: 8px;
    width: 25%;
    margin-left: auto;
    border: 2px solid #00000091;
    box-shadow: rgba(0, 0, 0, 0.473) 3px 5px 12px;
    transition: 0.2s;
    font: normal 17px 'texto', sans-serif;
    padding: 10px;
    margin-bottom: 20px;

}
#ok:hover {

    background-color: #6c7a96;
    transition: 0.2s;
    transform: scale(1.1);
}
#ok:active{
    transform: scale(0.9);
}
.popUpMessage {

    text-align: justify;
}
.onebitcode{

    display: flex;
    flex-direction: column;
    
}
.flex-JS {

    display: flex;
    gap: 40px;
    margin-left: 45px;

}

    







